---
const links = [
  { href: "/privacy", label: "Privacy" },
  { href: "https://github.com/sebastyijan-fi/scrapnet", label: "GitHub" },
];
---

<footer class="border-t border-gray-300 py-6 text-center text-sm mt-24">
  <ul class="flex justify-center space-x-4 mb-4">
    {
      links.map(({ href, label }) => (
        <li>
          <a
            href={href}
            class="hover:underline focus:outline-none focus:ring-2 focus:ring-[var(--accent)]"
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
  <p>&copy; {new Date().getFullYear()} ScrapNet.</p>
</footer>
